.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: white;
    transition: 0.3s;
}

/* TITLE */
.sidebar h4 {
    font-weight: bold;
}

/* NAV */
.sidebar .nav-link {
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: 0.2s;
}

.sidebar .nav-link:hover {
    background-color: rgba(255,255,255,0.2);
}

.sidebar .nav-link.active {
    background-color: rgba(255,255,255,0.3);
}

/* ICON (optional nanti) */
.sidebar .nav-link i {
    margin-right: 8px;
}